In [32]:
import pandas as pd
import math
import csv

In [33]:
# Read Ticket Price Inflation by Year
ticketPriceByYear = pd.read_csv('ticketPriceInflation.csv')

In [34]:
# ticketPriceByYear['YEAR'].value_counts()

In [35]:
ticketPriceByYear.head()

   YEAR  AVG. PRICE
0  2017        8.84
1  2016        8.65
2  2015        8.43
3  2014        8.17
4  2013        8.13

In [36]:
# Read dataset with box office values
movie = pd.read_csv('finalWithBoxoffice.csv')

In [37]:
# Getting 2014 Ticket price  
ticketPrice2014 = ticketPriceByYear[ticketPriceByYear['YEAR'] == 2014]['AVG. PRICE'].values[0] 

# Function to calculate Adjusted Box Office 
def calculateAdjustedBoxOffice(year,boxOffice):
    
    if year == 2014 or math.isnan(boxOffice):
        return boxOffice
    else:
        # Get ticket price of the coressponding YEAR
        ticketPrice = ticketPriceByYear[ticketPriceByYear['YEAR'] == year]['AVG. PRICE'].values[0] 
        estimateTicket = (boxOffice/ticketPrice)
        # To return value in integer instead of float 
        return math.floor(estimateTicket * ticketPrice2014)

In [38]:
# list with index 0 IMDB ID and index 1 Adjusted Box Office
listAdjustTicketPriceInflation = [[imdbID for imdbID in movie['IMDB ID']], \
                                  [calculateAdjustedBoxOffice(i[3], i[11])for i in movie.values]]

In [39]:
len(listAdjustTicketPriceInflation[1]), len(listAdjustTicketPriceInflation[0])

(10060, 10060)

In [40]:
with open('withInflation.csv','w') as csvfile:
    fieldnames = ['IMDB ID','ADJ. BOX OFFICE']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    for i in range(len(listAdjustTicketPriceInflation[0])):
        writer.writerow({'IMDB ID': listAdjustTicketPriceInflation[0][i], 'ADJ. BOX OFFICE': listAdjustTicketPriceInflation[1][i]})

In [41]:
adjustedBoxoffice = pd.read_csv('withInflation.csv')

In [42]:
adjustedBoxoffice.head()

     IMDB ID  ADJ. BOX OFFICE
0  tt0114709      360224189.0
1  tt0113497      188191724.0
2  tt0113228      131227103.0
3  tt0114885      124367069.0
4  tt0113041      143855857.0

In [43]:
# Merging csv using IMDB ID as key
result = movie.merge(adjustedBoxoffice, left_on='IMDB ID', right_on='IMDB ID',how='inner')

In [44]:
result.to_csv('finalDataset.csv', index=False)