In [53]:
import pandas as pd
import math
import csv

In [2]:
# Read Ticket Price Inflation by Year
ticketPriceByYear = pd.read_csv('ticketPriceInflation.csv')

In [6]:
# ticketPriceByYear['YEAR'].value_counts()

In [82]:
ticketPriceByYear.head()

   YEAR  AVG. PRICE
0  2017        8.84
1  2016        8.65
2  2015        8.43
3  2014        8.17
4  2013        8.13

In [4]:
# Read dataset with box office values
movie = pd.read_csv('finalWithBoxoffice.csv')

In [42]:
# list with index 0 IMDB ID and index 1 Adjusted Box Office
listAdjustTicketPriceInflation = [[],[]]

In [43]:
# Function to calculate Adjusted Box Office 
def calculateAdjustedBoxOffice(boxoffice,ticketPriceOld,ticketPrice2015):
    estimateTicket = (boxoffice/ticketPriceOld)
    # To return value in integer instead of float 
    return math.floor(estimateTicket * ticketPrice2015)

In [44]:
# Getting 2015 Ticket price  
ticketPrice2015 = ticketPriceByYear[ticketPriceByYear['YEAR'] == 2015]['AVG. PRICE'].values[0] 

for i in movie.values:
        # To check entry with 2015 or missing values
        if i[3] == 2015 or math.isnan(i[11]):
            listAdjustTicketPriceInflation[0].append(i[1])
            listAdjustTicketPriceInflation[1].append(i[11])
        else:
            # Get ticket price of the coressponding YEAR
            ticketPrice = ticketPriceByYear[ticketPriceByYear['YEAR'] == i[3]]['AVG. PRICE'].values[0]      
            listAdjustTicketPriceInflation[0].append(i[1])
            # paramaeters: Box office, corresponding movie YEAR ticket price, 2015 ticket price
            listAdjustTicketPriceInflation[1].append(calculateAdjustedBoxOffice(i[11], ticketPrice, ticketPrice2015))

In [52]:
# len(listAdjustTicketPriceInflation[1])

In [54]:
with open('withInflation.csv','w') as csvfile:
    fieldnames = ['IMDB ID','ADJ. BOX OFFICE']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    for i in range(len(listAdjustTicketPriceInflation[0])):
        writer.writerow({'IMDB ID': listAdjustTicketPriceInflation[0][i], 'ADJ. BOX OFFICE': listAdjustTicketPriceInflation[1][i]})

In [55]:
adjustedBoxoffice = pd.read_csv('withInflation.csv')

In [56]:
adjustedBoxoffice.head()

     IMDB ID  ADJ. BOX OFFICE
0  tt0114709      371687872.0
1  tt0113497      194180689.0
2  tt0113228      135403241.0
3  tt0114885      128324895.0
4  tt0113041      148433889.0

In [57]:
# Merging csv using IMDB ID as key
result = movie.merge(adjustedBoxoffice, left_on='IMDB ID', right_on='IMDB ID',how='inner')

In [81]:
result.to_csv('finalDataset.csv', index=False)