In [15]:
import pandas as pd
import math
import csv

In [16]:
# Read Ticket Price Inflation by Year
ticketPriceByYear = pd.read_csv('ticketPriceInflation.csv')

In [17]:
# ticketPriceByYear['YEAR'].value_counts()

In [18]:
ticketPriceByYear.head()

   YEAR  AVG. PRICE
0  2017        8.84
1  2016        8.65
2  2015        8.43
3  2014        8.17
4  2013        8.13

In [19]:
# Read dataset with box office values
movie = pd.read_csv('finalWithBoxoffice.csv')

In [20]:
# list with index 0 IMDB ID and index 1 Adjusted Box Office
listAdjustTicketPriceInflation = [[],[]]

In [21]:
# Function to calculate Adjusted Box Office 
def calculateAdjustedBoxOffice(boxoffice,ticketPriceOld,ticketPrice2014):
    estimateTicket = (boxoffice/ticketPriceOld)
    # To return value in integer instead of float 
    return math.floor(estimateTicket * ticketPrice2014)

In [22]:
# Getting 2014 Ticket price  
ticketPrice2014 = ticketPriceByYear[ticketPriceByYear['YEAR'] == 2014]['AVG. PRICE'].values[0] 

for i in movie.values:
        # To check entry with 2014 or missing values
        if i[3] == 2014 or math.isnan(i[11]):
            listAdjustTicketPriceInflation[0].append(i[1])
            listAdjustTicketPriceInflation[1].append(i[11])
        else:
            # Get ticket price of the coressponding YEAR
            ticketPrice = ticketPriceByYear[ticketPriceByYear['YEAR'] == i[3]]['AVG. PRICE'].values[0]      
            listAdjustTicketPriceInflation[0].append(i[1])
            # paramaeters: Box office, corresponding movie YEAR ticket price, 2014 ticket price
            listAdjustTicketPriceInflation[1].append(calculateAdjustedBoxOffice(i[11], ticketPrice, ticketPrice2014))

In [23]:
#len(listAdjustTicketPriceInflation[1])

In [24]:
with open('withInflation.csv','w') as csvfile:
    fieldnames = ['IMDB ID','ADJ. BOX OFFICE']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    for i in range(len(listAdjustTicketPriceInflation[0])):
        writer.writerow({'IMDB ID': listAdjustTicketPriceInflation[0][i], 'ADJ. BOX OFFICE': listAdjustTicketPriceInflation[1][i]})

In [25]:
adjustedBoxoffice = pd.read_csv('withInflation.csv')

In [26]:
adjustedBoxoffice.head()

     IMDB ID  ADJ. BOX OFFICE
0  tt0114709      360224189.0
1  tt0113497      188191724.0
2  tt0113228      131227103.0
3  tt0114885      124367069.0
4  tt0113041      143855857.0

In [27]:
# Merging csv using IMDB ID as key
result = movie.merge(adjustedBoxoffice, left_on='IMDB ID', right_on='IMDB ID',how='inner')

In [28]:
result.to_csv('finalDataset.csv', index=False)