In [2]:
import pandas as pd

In [3]:
# 
movie_1000 = pd.read_csv('movie_with_boxoffice_1000.csv')

In [4]:
movie_1000.head()

     IMDB ID   BOX OFFICE
0  tt0114709  191796233.0
1  tt0113497  100200000.0
2  tt0113228   69870000.0
3  tt0114885   66217473.0
4  tt0113041   76594000.0

In [5]:
movie_1000.tail()

       IMDB ID  BOX OFFICE
995  tt0118901    141853.0
996  tt0107282  32861136.0
997  tt0118836    306715.0
998  tt0120148  11883495.0
999  tt0119707  35927406.0

In [6]:
movie_2000 = pd.read_csv('movie_with_boxoffice_2000.csv')

In [7]:
movie_2000.head()

     IMDB ID   BOX OFFICE
0  tt0120382  125603360.0
1  tt0120520   13718385.0
2  tt0119723    3263672.0
3  tt0116592          NaN
4  tt0119994   22415440.0

In [8]:
movie_3000 = pd.read_csv('movie_with_boxoffice_3000.csv')

In [9]:
movie_3000.tail()

       IMDB ID  BOX OFFICE
995  tt0312848         NaN
996  tt0099365  33878502.0
997  tt0118125         NaN
998  tt0104265  28590665.0
999  tt0099615  21460601.0

In [10]:
movie_4000 = pd.read_csv('movie_with_boxoffice_4000.csv')

In [11]:
movie_5000 = pd.read_csv('movie_with_boxoffice_5000.csv')

In [12]:
movie_6000 = pd.read_csv('movie_with_boxoffice_6000.csv')

In [13]:
movie_7000 = pd.read_csv('movie_with_boxoffice_7000.csv')

In [14]:
movie_8000 = pd.read_csv('movie_with_boxoffice_8000.csv')

In [15]:
movie_9000 = pd.read_csv('movie_with_boxoffice_9000.csv')

In [16]:
movie_10151 = pd.read_csv('movie_with_boxoffice_10150.csv')

In [17]:
total_movie = movie_1000.append([movie_2000, movie_3000,movie_4000, movie_5000, movie_6000,\
                  movie_7000, movie_8000, movie_9000, movie_10151], ignore_index = True, verify_integrity = True)

In [18]:
final_without_boxoffice = pd.read_csv('finalWithoutBoxoffice.csv')

In [19]:
final_without_boxoffice.head()

,TMDB ID,IMDB ID,TITLE,YEAR,GENRE,RATING,RELEASED,ACTORS,AWARDS,COUNTRY,LANGUAGE
0,862,tt0114709,Toy Story,1995,"Animation, Adventure, Comedy",8.3,22 Nov 1995,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney",Nominated for 3 Oscars. Another 23 wins & 18 n...,USA,English
1,8844,tt0113497,Jumanji,1995,"Action, Adventure, Family",6.9,15 Dec 1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",4 wins & 9 nominations.,USA,"English, French"
2,15602,tt0113228,Grumpier Old Men,1995,"Comedy, Romance",6.6,22 Dec 1995,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",2 wins & 2 nominations.,USA,English
3,31357,tt0114885,Waiting to Exhale,1995,"Comedy, Drama, Romance",5.7,22 Dec 1995,"Whitney Houston, Angela Bassett, Loretta Devin...",8 wins & 8 nominations.,USA,English
4,11862,tt0113041,Father of the Bride Part II,1995,"Comedy, Family, Romance",5.9,08 Dec 1995,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Nominated for 1 Golden Globe. Another 1 win & ...,USA,English

In [20]:
final_without_boxoffice.tail()

,TMDB ID,IMDB ID,TITLE,YEAR,GENRE,RATING,RELEASED,ACTORS,AWARDS,COUNTRY,LANGUAGE
10145,328595,tt3479316,Parallels,2015,"Action, Sci-Fi",6.2,01 Mar 2015,"Mark Hapka, Jessica Rothe, Eric Jungmann, Cons...",1 nomination.,USA,English
10146,293771,tt3816458,Dead Rising: Watchtower,2015,"Action, Horror",5.2,27 Mar 2015,"Jesse Metcalfe, Meghan Ory, Virginia Madsen, K...",NaN,USA,English
10147,10010,tt0465925,Brother Bear 2,2006,"Animation, Adventure, Comedy",6.2,28 Aug 2006,"Patrick Dempsey, Mandy Moore, Jeremy Suarez, R...",2 nominations.,USA,English
10148,286971,tt1724965,Innocence,2014,"Adventure, Fantasy, Horror",4.6,11 Jan 2016,"Sophie Lane Curtis, Kelly Reilly, Graham Phill...",NaN,USA,English
10149,133790,tt2279864,Clear History,2013,Comedy,6.5,10 Aug 2013,"Larry David, Bill Hader, Philip Baker Hall, Jo...",NaN,USA,English

In [24]:
result = final_without_boxoffice.merge(total_movie, left_on='IMDB ID', right_on='IMDB ID', how = 'inner' )

In [25]:
result

,TMDB ID,IMDB ID,TITLE,YEAR,GENRE,RATING,RELEASED,ACTORS,AWARDS,COUNTRY,LANGUAGE,BOX OFFICE
0,862,tt0114709,Toy Story,1995,"Animation, Adventure, Comedy",8.3,22 Nov 1995,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney",Nominated for 3 Oscars. Another 23 wins & 18 n...,USA,English,191796233.0
1,8844,tt0113497,Jumanji,1995,"Action, Adventure, Family",6.9,15 Dec 1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",4 wins & 9 nominations.,USA,"English, French",100200000.0
2,15602,tt0113228,Grumpier Old Men,1995,"Comedy, Romance",6.6,22 Dec 1995,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",2 wins & 2 nominations.,USA,English,69870000.0
3,31357,tt0114885,Waiting to Exhale,1995,"Comedy, Drama, Romance",5.7,22 Dec 1995,"Whitney Houston, Angela Bassett, Loretta Devin...",8 wins & 8 nominations.,USA,English,66217473.0
4,11862,tt0113041,Father of the Bride Part II,1995,"Comedy, Family, Romance",5.9,08 Dec 1995,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Nominated for 1 Golden Globe. Another 1 win & ...,USA,English,76594000.0
5,949,tt0113277,Heat,1995,"Action, Crime, Drama",8.2,15 Dec 1995,"Al Pacino, Robert De Niro, Val Kilmer, Jon Voight",12 nominations.,USA,"English, Spanish",67436000.0
6,11860,tt0114319,Sabrina,1995,"Comedy, Drama",6.3,15 Dec 1995,"Harrison Ford, Julia Ormond, Greg Kinnear, Nan...",Nominated for 2 Oscars. Another 2 wins & 4 nom...,"Germany, USA","English, French",53458319.0
7,45325,tt0112302,Tom and Huck,1995,"Adventure, Comedy, Drama",5.6,22 Dec 1995,"Jonathan Taylor Thomas, Brad Renfro, Eric Schw...",1 win & 5 nominations.,USA,English,23735802.0
8,9091,tt0114576,Sudden Death,1995,"Action, Crime, Thriller",5.7,22 Dec 1995,"Jean-Claude Van Damme, Powers Boothe, Raymond ...",NaN,USA,English,22000000.0
9,710,tt0113189,GoldenEye,1995,"Action, Adventure, Thriller",7.2,17 Nov 1995,"Pierce Brosnan, Sean Bean, Izabella Scorupco, ...",Nominated for 2 BAFTA Film Awards. Another 2 w...,"UK, USA","English, Russian, Spanish",106635996.0
10,9087,tt0112346,The American President,1995,"Comedy, Drama, Romance",6.8,17 Nov 1995,"Michael Douglas, Annette Bening, Martin Sheen,...",Nominated for 1 Oscar. Another 1 win & 9 nomin...,USA,"English, French",65000000.0
11,12110,tt0112896,Dracula: Dead and Loving It,1995,"Comedy, Fantasy, Horror",5.8,22 Dec 1995,"Leslie Nielsen, Peter MacNicol, Steven Weber, ...",NaN,"USA, France","English, German",10693649.0
12,21032,tt0112453,Balto,1995,"Animation, Adventure, Drama",7.1,22 Dec 1995,"Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim C...",1 nomination.,USA,English,11268750.0
13,10858,tt0113987,Nixon,1995,"Biography, Drama, History",7.1,05 Jan 1996,"Anthony Hopkins, Joan Allen, Powers Boothe, Ed...",Nominated for 4 Oscars. Another 10 wins & 13 n...,USA,"English, Mandarin, Russian",13560960.0
14,1408,tt0112760,Cutthroat Island,1995,"Action, Adventure, Comedy",5.6,22 Dec 1995,"Geena Davis, Matthew Modine, Frank Langella, M...",1 nomination.,"USA, France, Italy, Germany",English,11000000.0
15,524,tt0112641,Casino,1995,"Crime, Drama",8.2,22 Nov 1995,"Robert De Niro, Sharon Stone, Joe Pesci, James...",Nominated for 1 Oscar. Another 3 wins & 9 nomi...,"France, USA",English,42438300.0
16,4584,tt0114388,Sense and Sensibility,1995,"Drama, Romance",7.7,26 Jan 1996,"James Fleet, Tom Wilkinson, Harriet Walter, Ka...",Won 1 Oscar. Another 31 wins & 45 nominations.,"USA, UK","English, French",42700000.0
17,5,tt0113101,Four Rooms,1995,Comedy,6.7,25 Dec 1995,"Sammi Davis, Amanda De Cadenet, Valeria Golino...",1 win & 1 nomination.,USA,English,4301331.0
18,9273,tt0112281,Ace Ventura: When Nature Calls,1995,"Adventure, Comedy, Crime",6.3,10 Nov 1995,"Jim Carrey, Ian McNeice, Simon Callow, Maynard...",7 wins & 7 nominations.,USA,English,108360000.0
19,11517,tt0113845,Money Train,1995,"Action, Comedy, Crime",5.6,22 Nov 1995,"Wesley Snipes, Woody Harrelson, Jennifer Lopez...",1 nomination.,USA,English,35324232.0
20,8012,tt0113161,Get Shorty,1995,"Comedy, Crime, Thriller",6.9,20 Oct 1995,"John Travolta, Gene Hackman, Rene Russo, Danny...",Won 1 Golden Globe. Another 5 wins & 15 nomina...,USA,English,72077000.0
21,1710,tt0112722,Copycat,1995,"Crime, Drama, Mystery",6.6,27 Oct 1995,"Sigourney Weaver, Holly Hunter, Dermot Mulrone...",2 wins & 1 nomination.,USA,English,32051917.0
22,9691,tt0112401,Assassins,1995,"Action, Crime, Thriller",6.3,06 Oct 1995,"Sylvester Stallone, Antonio Banderas, Julianne...",1 win & 1 nomination.,"France, USA","English, Dutch, Spanish",30306268.0
23,12665,tt0114168,Powder,1995,"Drama, Fantasy, Mystery",6.5,27 Oct 1995,"Mary Steenburgen, Sean Patrick Flanery, Lance ...",1 win & 1 nomination.,USA,English,30862146.0
24,451,tt0113627,Leaving Las Vegas,1995,"Drama, Romance",7.6,09 Feb 1996,"Nicolas Cage, Elisabeth Shue, Julian Sands, Ri...",Won 1 Oscar. Another 30 wins & 27 nominations.,USA,"English, Russian",31968347.0
25,16420,tt0114057,Othello,1995,"Drama, Romance",7.0,19 Jan 1996,"Laurence Fishburne, Irène Jacob, Kenneth Brana...",3 nominations.,"USA, UK",English,2112951.0
26,9263,tt0114011,Now and Then,1995,"Comedy, Drama, Romance",6.8,20 Oct 1995,"Christina Ricci, Rosie O'Donnell, Thora Birch,...",1 nomination.,USA,English,27400000.0
27,17015,tt0114117,Persuasion,1995,"Drama, Romance",7.7,27 Sep 1995,"Amanda Root, Ciarán Hinds, Susan Fleetwood, Co...",7 wins & 2 nominations.,"UK, USA, France",English,5462325.0
28,9909,tt0112792,Dangerous Minds,1995,"Biography, Drama",6.4,11 Aug 1995,"Michelle Pfeiffer, George Dzundza, Courtney B....",5 wins & 6 nominations.,USA,English,84919401.0
29,63,tt0114746,Twelve Monkeys,1995,"Mystery, Sci-Fi, Thriller",8.0,05 Jan 1996,"Joseph Melito, Bruce Willis, Jon Seda, Michael...",Nominated for 2 Oscars. Another 9 wins & 18 no...,USA,"English, French",56882000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10120,87178,tt1498878,The Whisperer in Darkness,2011,"Mystery, Sci-Fi, Thriller",6.6,19 May 2011,"Autumn Wendel, Stephen Blackehart, Annie Abram...",2 nominations.,USA,English,NaN
10121,51434,tt0099606,The Fourth War,1990,"Drama, Thriller",5.7,23 Mar 1990,"Roy Scheider, Jürgen Prochnow, Tim Reid, Lara ...",NaN,"USA, Canada","English, Russian, Czech",1305887.0
10122,28263,tt0106902,Fifty/Fifty,1992,"Action, Adventure, Comedy",5.8,26 Feb 1993,"Peter Weller, Robert Hays, Charles Martin Smit...",NaN,USA,English,229041.0
10123,241855,tt3395184,Spring,2014,"Horror, Romance, Sci-Fi",6.7,20 Mar 2015,"Lou Taylor Pucci, Nadia Hilker, Francesco Carn...",4 wins & 13 nominations.,USA,"English, Italian",48949.0
10124,327029,tt4475970,Power Rangers,2015,"Short, Action, Sci-Fi",7.8,23 Feb 2015,"Katee Sackhoff, James Van Der Beek, Russ Bain,...",NaN,USA,"Korean, Japanese, English",NaN
10125,302465,tt1344811,Brothers on the Line,2012,Documentary,7.9,08 Mar 2012,"Walter Reuther, Martin Sheen, Victor Reuther, ...",4 wins & 3 nominations.,USA,English,NaN
10126,48376,tt0494826,Severe Clear,2009,Documentary,6.6,12 Mar 2010,Mike Scotti,1 win.,USA,English,NaN
10127,267793,tt3496892,Petals on the Wind,2014,"Drama, Romance, Thriller",6.3,26 May 2014,"Heather Graham, Rose McIver, Wyatt Nash, Baile...",1 nomination.,USA,English,NaN
10128,19318,tt1389781,Mr. Troop Mom,2009,"Comedy, Family",4.5,19 Jun 2009,"George Lopez, Daniela Bobadilla, Jane Lynch, J...",2 nominations.,USA,English,NaN
10129,39041,tt0468463,The Conrad Boys,2006,"Drama, Romance",6.1,24 Apr 2006,"Justin Lo, Booboo Stewart, Nick Bartzen, Barry...",NaN,USA,English,NaN
10130,13015,tt0484855,George Carlin: Life Is Worth Losing,2005,"Documentary, Comedy",8.4,05 Nov 2005,George Carlin,Nominated for 1 Primetime Emmy. Another 2 nomi...,USA,English,NaN
10131,257091,tt2561572,Get Hard,2015,"Comedy, Crime",6.0,27 Mar 2015,"Will Ferrell, Kevin Hart, Craig T. Nelson, Ali...",1 nomination.,USA,English,90353764.0
10132,143928,tt1430116,Hellgate,2011,"Fantasy, Horror, Thriller",4.5,05 Nov 2011,"William Hurt, Cary Elwes, Ploy Jindachote, Pau...",NaN,"USA, Thailand",English,NaN
10133,326665,tt4530184,Aziz Ansari Live in Madison Square Garden,2015,Comedy,6.7,06 Mar 2015,Aziz Ansari,NaN,USA,English,NaN
10134,80527,tt1483803,Stargate SG-1: Children of the Gods - Final Cut,2009,"Action, Adventure, Drama",8.1,21 Jul 2009,"Richard Dean Anderson, Michael Shanks, Amanda ...",1 nomination.,USA,English,NaN
10135,35177,tt0372238,Dinotopia: Quest for the Ruby Sunstone,2005,"Animation, Adventure, Comedy",5.5,17 May 2005,"Alyssa Milano, Jamie Kennedy, Kathy Griffin, W...",NaN,USA,English,NaN
10136,14642,tt0825279,20 Years After,2008,"Drama, Fantasy, Sci-Fi",3.3,NaN,"Joshua Leonard, Azura Skye, Diane Salinger, Aa...",3 wins.,USA,English,NaN
10137,16119,tt0465940,Cinderella 3: A Twist in Time,2007,"Animation, Family, Fantasy",6.0,05 Feb 2007,"Jennifer Hale, Christopher Daniel Barnes, Susa...",NaN,USA,English,NaN
10138,167161,tt1161051,Playground,2009,Documentary,6.9,04 Sep 2009,NaN,1 nomination.,USA,English,NaN
10139,21385,tt0371823,"Mickey, Donald, Goofy: The Three Musketeers",2004,"Animation, Adventure, Comedy",6.4,16 Aug 2004,"Wayne Allwine, Tony Anselmo, Bill Farmer, Russ...",1 win & 5 nominations.,USA,English,NaN
10140,33719,tt0137201,Rudolph the Red-Nosed Reindeer: The Movie,1998,"Animation, Adventure, Family",5.8,16 Oct 1998,"Eric Pospisil, Kathleen Barr, John Goodman, Wh...",2 nominations.,"USA, Canada",English,113484.0
10141,238302,tt2204315,Saving Santa,2013,"Animation, Adventure, Comedy",5.4,05 Nov 2013,"Newell Alexander, Noel Clarke, Joan Collins, T...",NaN,"UK, USA, India","English, Mongolian",NaN
10142,5833,tt0284946,Casper's Haunted Christmas,2000,"Animation, Comedy, Family",4.6,31 Oct 2000,"Brendon Ryan Barrett, Kathleen Barr, Ian James...",2 wins & 1 nomination.,"Canada, USA",English,NaN
10143,333324,tt1640103,A House of Secrets: Exploring 'Dragonwyck',2008,"Documentary, Short",NaN,09 Sep 2008,"Rudy Behlmer, Drew Casper, Steve Haberman, Ste...",NaN,USA,English,NaN
10144,73770,tt1661461,What a Man,2011,"Comedy, Romance",5.6,25 Aug 2011,"Matthias Schweighöfer, Mavie Hörbiger, Thomas ...",1 win & 1 nomination.,"Germany, USA","German, Turkish, English, Mandarin, French",NaN
10145,328595,tt3479316,Parallels,2015,"Action, Sci-Fi",6.2,01 Mar 2015,"Mark Hapka, Jessica Rothe, Eric Jungmann, Cons...",1 nomination.,USA,English,NaN
10146,293771,tt3816458,Dead Rising: Watchtower,2015,"Action, Horror",5.2,27 Mar 2015,"Jesse Metcalfe, Meghan Ory, Virginia Madsen, K...",NaN,USA,English,NaN
10147,10010,tt0465925,Brother Bear 2,2006,"Animation, Adventure, Comedy",6.2,28 Aug 2006,"Patrick Dempsey, Mandy Moore, Jeremy Suarez, R...",2 nominations.,USA,English,NaN
10148,286971,tt1724965,Innocence,2014,"Adventure, Fantasy, Horror",4.6,11 Jan 2016,"Sophie Lane Curtis, Kelly Reilly, Graham Phill...",NaN,USA,English,NaN
10149,133790,tt2279864,Clear History,2013,Comedy,6.5,10 Aug 2013,"Larry David, Bill Hader, Philip Baker Hall, Jo...",NaN,USA,English,NaN

In [27]:
result.to_csv('finalWithBoxoffice.csv',index = False)

In [28]:
len(result)

10150