In [456]:
import pandas as pd
from plotly.graph_objs import *
'''
Using plotly offline mode
'''
from plotly.offline import init_notebook_mode,iplot,plot
init_notebook_mode(connected=True)

In [457]:
'''
Reading the Dataset
'''
dataset = pd.read_csv('finalDataset.csv')

In [458]:
'''
Snapshot of Dataset
'''
dataset.head(3)

,TMDB ID,IMDB ID,TITLE,YEAR,GENRE,RATING,RELEASED,ACTORS,AWARDS,COUNTRY,LANGUAGE,BOX OFFICE,ADJ. BOX OFFICE
0,862,tt0114709,Toy Story,1995,"Animation, Adventure, Comedy",8.3,22 Nov 1995,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney",Nominated for 3 Oscars. Another 23 wins & 18 n...,USA,English,191796233.0,360224189.0
1,8844,tt0113497,Jumanji,1995,"Action, Adventure, Family",6.9,15 Dec 1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",4 wins & 9 nominations.,USA,"English, French",100200000.0,188191724.0
2,15602,tt0113228,Grumpier Old Men,1995,"Comedy, Romance",6.6,22 Dec 1995,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",2 wins & 2 nominations.,USA,English,69870000.0,131227103.0

In [459]:
'''
List of Year's
'''
yearList = [1990, 1995, 2000, 2005, 2010, 2014]

'''
List of Genres
'''
genreList = ['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', \
 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', \
 'Musical', 'Mystery' ,'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western']

In [460]:
'''
Function to calcuate mean rating for specific genre and year
'''
def calculateMeanForSpecificGenreAndYear(genre, year):
    return round(dataset[(dataset.GENRE.str.contains(genre, na = False)) & (dataset.YEAR == year)]['RATING'].mean(),2)

'''
Function to calculate movie count for specific genre year
'''
def calculateMovieCountForSpecificGenreAndYear(genre, year):
    return len(dataset[(dataset.GENRE.str.contains(genre, na = False)) & (dataset.YEAR == year)])

'''
Function to calculate box office avg for specific genre year
'''
def calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year):
    return int(dataset[(dataset.GENRE.str.contains(genre, na = False)) & (dataset.YEAR == year)]['BOX OFFICE'].mean())

'''
Funtion to calcuate Avg Mean for each Year
'''
def calculateAvgMeanForEachYear(year):
    return round(dataset[dataset.YEAR == year]['RATING'].mean(),2)

In [461]:
'''
First Index: Mean Rating for each genre
Second Index: Movie Count for each gerne
Third Index: Box Office Avg. for genre
'''
list1990 = [[],[],[]]
list1995 = [[],[],[]]
list2000 = [[],[],[]]
list2005 = [[],[],[]]
list2010 = [[],[],[]]
list2014 = [[],[],[]]

In [462]:
'''
Adding Mean Rating, Movie Count, Mean Box Office to corresponding Year list 
'''
for year in yearList:
    for genre in genreList:
        if year == 1990:
            list1990[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list1990[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list1990[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        elif year == 1995:
            list1995[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list1995[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list1995[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        elif year == 2000:    
            list2000[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list2000[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list2000[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        elif year == 2005:
            list2005[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list2005[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list2005[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        elif year == 2010:
            list2010[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list2010[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list2010[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        else:
            list2014[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list2014[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list2014[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))

In [463]:
'''
Standard Rating For Each YEAR
'''
listStandardRating = []

In [464]:
'''
Adding Standard Rating to List  
'''
for year in yearList:
    listStandardRating.append(calculateAvgMeanForEachYear(year))

In [465]:
'''
Creating a dict for Mean Rating, Movie Count, Mean Box Office 
'''
dictMeanByYear = {'1990': list1990[0], '1995': list1995[0], '2000': list2000[0], '2005': list2005[0],\
                  '2010': list2010[0], '2014': list2014[0]}
dictMovieCountByYear = {'1990': list1990[1], '1995': list1995[1], '2000': list2000[1], '2005': list2005[1],\
                  '2010': list2010[1], '2014': list2014[1]}
dictBoxOfficeByYear = {'1990': list1990[2], '1995': list1995[2], '2000': list2000[2], '2005': list2005[2],\
                  '2010': list2010[2], '2014': list2014[2]}

In [466]:
'''
Dataframe for Mean Rating by Year 
'''
dataframeMeanByYear = pd.DataFrame(dictMeanByYear, index=genreList)

In [467]:
'''
Snapshot of DataFrame for Mean Rating by Year
'''
dataframeMeanByYear.head(3)

           1990  1995  2000  2005  2010  2014
Action     5.82  5.67  5.62  5.56  5.98  6.07
Adventure  5.99  6.11  5.84  5.87  6.31  6.35
Animation  6.47  6.70  6.48  6.52  6.89  6.75

In [468]:
'''
Dataframe for Movie Count by year and genre
'''
dataframeMovieCountByYear = pd.DataFrame(dictMovieCountByYear, index=genreList)

In [469]:
'''
Snapshot of Dataframe for Movie Counr by year and genre
'''
dataframeMovieCountByYear.head(3)

           1990  1995  2000  2005  2010  2014
Action       54    65    57    67    77    77
Adventure    29    39    42    60    58    59
Animation     7     8    19    18    28    22

In [470]:
'''
Dataframe for Mean Box Office by Year
'''
dataframeBoxOfficeByYear = pd.DataFrame(dictBoxOfficeByYear, index=genreList)

In [471]:
'''
Snapshot of Dataframe for Mean box office by year and genre
'''
dataframeBoxOfficeByYear.head(3)

               1990      1995      2000      2005       2010       2014
Action     36000229  37959481  57460535  47968347   73557596  101581247
Adventure  37304797  48388954  66035926  77790454  123040636  119569786
Animation  18982395  64009098  56509193  81838410  128231076   86721295

In [472]:
'''
Initialzing figure
'''
figure = {
    'data' : [],
    'layout' : {},
    'frames' : []
}

In [473]:
'''
Setting the title of xaxis
'''
figure['layout']['xaxis'] = {'title' : 'Box Office'}

'''
Setting the title of yaxis and fixing the range of values of yaxis
'''
figure['layout']['yaxis'] = {'title' : 'Rating', 'range' : [3,9]}

'''
Setting the title of plot
'''
figure['layout']['title'] = 'Movie Analysis'

In [474]:
'''
Setting the Buttons Play and Pause
'''
figure['layout']['updatemenus'] = [
    {
        'type': 'buttons',
        'buttons' : [{
            'label' : 'Play',
            'method' : 'animate',
            'args' : [None, {'frame' : {'duration' : 500, 'redraw': False},'fromcurrent': True,
                             'transistion' : {'duration': 300, 'easing': 'quadratic-in-out'}}]
        },
        {
            'label' :'Pause',
            'method' : 'animate',
            'args' : [[None], {'frame' : {'duration' : 0, 'redraw' : False}, 'mode': 'immediate',
                                'transistion': {'duration': 0}}]
        }],
        'direction' : 'left',
        'pad': {'r': 10, 't': 87},
        'showactive' : False,
        'x': 0.1,
        'y': 0,
        'xanchor': 'right',
        'yanchor': 'top'
    }
]

In [475]:
'''
Make data [To show intially when plot is openend]
'''
dataDict = {
    
     # Setting xaxis to mean box office of year 1990  
    'x': dataframeBoxOfficeByYear['1990'].values,
    
    # Setting yaxis to mean rating of year 1990  
    'y': dataframeMeanByYear['1990'].values,
    'mode' : 'markers',
   
    # Setting what to display when hovered over the data point
    'text' : 'Genre: ' + dataframeMeanByYear['1990'].index + '<br>Mean: ' + \
            dataframeMeanByYear['1990'].values.astype(str) + '<br>Movie Count: ' + \
            dataframeMovieCountByYear['1990'].values.astype(str) + '<br>Mean BoxOffice: ' +\
            
            # Display Box Office in millions format 
            (dataframeBoxOfficeByYear['1990'].values/1000000).round(2).astype(str) + 'M',
   
    # Setting the hoverinfo as text
    'hoverinfo' : 'text',
    'marker' : {
       
        # Setting the diameter to Movie count of year 1990
        'size' : dataframeMovieCountByYear['1990'].values
    }
}

'''
Appending the initial data to figure which will be used to plot
'''
figure['data'].append(dataDict)

In [476]:
'''
Dict to show sliders
'''
sliders_dict = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        # To show in plot Year: 
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    # Dict of each year will be added later to list 
    'steps': []
}

In [477]:
'''
Adding frames to figure. For each year a corresponding frame will be populated when slider moves from year to year 
'''
for year in yearList: 
    # Creating a frame 
    frame = {'data' : [], 'name': year}
    # Dict of data that will be added later to added to frame
    dataDict = {
            'x': dataframeBoxOfficeByYear[str(year)].values,
            'y': dataframeMeanByYear[str(year)].values,
            'mode' : 'markers',
            'text' : 'Genre: ' + dataframeMeanByYear[str(year)].index + '<br>Mean: ' + \
            dataframeMeanByYear[str(year)].values.astype(str) + '<br>Movie Count: ' + \
            dataframeMovieCountByYear[str(year)].values.astype(str) + '<br>Mean BoxOffice: ' +\
            (dataframeBoxOfficeByYear[str(year)].values/1000000).round(2).astype(str) + 'M',
            'hoverinfo' : 'text',
            'marker' : {
                'size' : dataframeMovieCountByYear[str(year)].values
            }
        }
    # Adding data to frame
    frame['data'].append(dataDict)
    # Adding frame to figure 
    figure['frames'].append(frame)
    # Dict of steps that will be later added to sliders_dict
    sliderSteps = {
        'args' : [[year], {'frame': {'duration' : 300, 'redraw': False}, 'mode': 'immediate',
                          'transition': {'duration': 300}}],
        'label' : year,
        'method': 'animate'
    }
    # Appending dict sliderSteps to slider_dict 
    sliders_dict['steps'].append(sliderSteps)

In [478]:
'''
Setting sliders with required data
'''
figure['layout']['sliders'] = [sliders_dict]

In [480]:
'''
Plotting the dataset
'''
plot(figure)
# iplot(figure)

'file:///Users/shivakumarswamybg/Desktop/Project/temp-plot.html'