In [1]:
import pandas as pd
from plotly.graph_objs import *
from plotly.offline import init_notebook_mode,iplot
init_notebook_mode(connected=True)

In [2]:
dataset = pd.read_csv('finalDataset.csv')

In [4]:
dataset.head()

,TMDB ID,IMDB ID,TITLE,YEAR,GENRE,RATING,RELEASED,ACTORS,AWARDS,COUNTRY,LANGUAGE,BOX OFFICE,ADJ. BOX OFFICE
0,862,tt0114709,Toy Story,1995,"Animation, Adventure, Comedy",8.3,22 Nov 1995,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney",Nominated for 3 Oscars. Another 23 wins & 18 n...,USA,English,191796233.0,360224189.0
1,8844,tt0113497,Jumanji,1995,"Action, Adventure, Family",6.9,15 Dec 1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",4 wins & 9 nominations.,USA,"English, French",100200000.0,188191724.0
2,15602,tt0113228,Grumpier Old Men,1995,"Comedy, Romance",6.6,22 Dec 1995,"Walter Matthau, Jack Lemmon, Sophia Loren, Ann...",2 wins & 2 nominations.,USA,English,69870000.0,131227103.0
3,31357,tt0114885,Waiting to Exhale,1995,"Comedy, Drama, Romance",5.7,22 Dec 1995,"Whitney Houston, Angela Bassett, Loretta Devin...",8 wins & 8 nominations.,USA,English,66217473.0,124367069.0
4,11862,tt0113041,Father of the Bride Part II,1995,"Comedy, Family, Romance",5.9,08 Dec 1995,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Nominated for 1 Golden Globe. Another 1 win & ...,USA,English,76594000.0,143855857.0

In [73]:
yearList = [1990, 1995, 2000, 2005, 2010, 2014]
genreList = ['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', \
 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', \
 'Musical', 'Mystery' ,'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western']

In [41]:
# genreList

In [66]:
'''
Function to calcuate mean for specific genre and year
'''
def calculateMeanForSpecificGenreAndYear(genre, year):
    return round(dataset[(dataset.GENRE.str.contains(genre, na = False)) & (dataset.YEAR == year)]['RATING'].mean(),2)

'''
Function to calculate movie count for specific genre year
'''
def calculateMovieCountForSpecificGenreAndYear(genre, year):
    return len(dataset[(dataset.GENRE.str.contains(genre, na = False)) & (dataset.YEAR == year)])

'''
Function to calculate box office avg for specific genre year
'''
def calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year):
    return int(dataset[(dataset.GENRE.str.contains(genre, na = False)) & (dataset.YEAR == year)]['BOX OFFICE'].mean())

'''
Funtion to calcuate Avg Mean for each Year
'''
def calculateAvgMeanForEachYear(year):
    return round(dataset[dataset.YEAR == year]['RATING'].mean(),2)

In [61]:
'''
First Index: Mean for each genre
Second Index: Movie Count for each gerne
Third Index: Box Office Avg. for genre
'''
list1990 = [[],[],[]]
list1995 = [[],[],[]]
list2000 = [[],[],[]]
list2005 = [[],[],[]]
list2010 = [[],[],[]]
list2014 = [[],[],[]]

In [62]:
for year in yearList:
    for genre in genreList:
        if year == 1990:
            list1990[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list1990[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list1990[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        elif year == 1995:
            list1995[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list1995[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list1995[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        elif year == 2000:    
            list2000[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list2000[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list2000[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        elif year == 2005:
            list2005[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list2005[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list2005[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        elif year == 2010:
            list2010[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list2010[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list2010[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))
        else:
            list2014[0].append(calculateMeanForSpecificGenreAndYear(genre, year))
            list2014[1].append(calculateMovieCountForSpecificGenreAndYear(genre, year))
            list2014[2].append(calculateBoxOfficeAvgForSpecificGenreAndYear(genre, year))

In [80]:
#  list1990[0]

In [65]:
'''
Standard Rating For Each YEAR
'''
listStandardRating = []

In [67]:
for year in yearList:
    listStandardRating.append(calculateAvgMeanForEachYear(year))

In [68]:
listStandardRating

[6.11, 6.12, 6.14, 6.24, 6.25, 6.24]

In [97]:
dictMeanByYear = {'1990': list1990[0], '1995': list1995[0], '2000': list2000[0], '2005': list2005[0],\
                  '2010': list2010[0], '2014': list2014[0]}
dictMovieCountByYear = {'1990': list1990[1], '1995': list1995[1], '2000': list2000[1], '2005': list2005[1],\
                  '2010': list2010[1], '2014': list2014[1]}
dictBoxOfficeByYear = {'1990': list1990[2], '1995': list1995[2], '2000': list2000[2], '2005': list2005[2],\
                  '2010': list2010[2], '2014': list2014[2]}

In [94]:
dataframeMeanByYear = pd.DataFrame(dictMeanByYear, index=genreList)

In [95]:
dataframeMeanByYear

             1990  1995  2000  2005  2010  2014
Action       5.82  5.67  5.62  5.56  5.98  6.07
Adventure    5.99  6.11  5.84  5.87  6.31  6.35
Animation    6.47  6.70  6.48  6.52  6.89  6.75
Biography    7.11  7.01  7.15  7.14  7.33  7.06
Comedy       5.88  5.92  5.92  5.99  6.05  6.12
Crime        6.24  6.18  6.22  6.02  6.03  6.34
Documentary  7.27  7.18  7.40  7.36  7.27  7.14
Drama        6.39  6.35  6.30  6.45  6.31  6.34
Family       5.68  5.62  5.59  5.99  5.92  6.15
Fantasy      6.04  5.88  5.34  5.64  5.87  5.47
History      7.50  7.19  7.39  7.25  7.12  6.88
Horror       5.59  5.03  5.21  5.11  5.07  5.24
Musical      5.27  5.80  7.05  6.16  7.55  5.60
Mystery      6.24  6.58  5.76  6.04  5.82  6.02
Romance      6.19  6.28  6.12  6.26  6.10  6.20
Sci-Fi       5.59  5.14  5.42  5.32  5.29  5.94
Sport        5.22  5.53  6.38  6.89  7.12  7.19
Thriller     6.12  5.78  5.71  5.80  5.56  5.67
War          6.57  6.86  6.95  7.03  7.20  6.47
Western      7.20  6.88  4.95  6.65  6.27  6.93

In [99]:
dataframeMovieCountByYear = pd.DataFrame(dictMovieCountByYear, index=genreList)

In [100]:
dataframeMovieCountByYear

             1990  1995  2000  2005  2010  2014
Action         54    65    57    67    77    77
Adventure      29    39    42    60    58    59
Animation       7     8    19    18    28    22
Biography       8    19    25    27    40    46
Comedy         93   115   144   163   166   144
Crime          48    66    60    59    56    53
Documentary    10    23    40    64   116    70
Drama         101   178   180   205   201   184
Family         13    29    17    35    37    20
Fantasy        17    20    25    23    27    24
History         4    10    10    13    13    14
Horror         38    29    39    50    59    54
Musical         3     1     2     5     2     2
Mystery        13    20    26    32    33    29
Romance        30    58    75    67    79    60
Sci-Fi         19    18    17    15    30    37
Sport           4     3    11    19    11    10
Thriller       37    49    50    53    77    74
War             3     5     4     6     5    11
Western         2     4     2     2     3     3

In [101]:
dataframeBoxOfficeByYear = pd.DataFrame(dictBoxOfficeByYear, index=genreList)

In [102]:
dataframeBoxOfficeByYear

                  1990      1995      2000      2005       2010       2014
Action        36000229  37959481  57460535  47968347   73557596  101581247
Adventure     37304797  48388954  66035926  77790454  123040636  119569786
Animation     18982395  64009098  56509193  81838410  128231076   86721295
Biography     20052263  19857494  26244618  18408767   18997634   34154189
Comedy        26488548  22157214  30521642  31562210   39622854   35925551
Crime         21777102  22788517  21971977  28591678   25328552   34053473
Documentary    2024721  16034269   2756527   1681682    3136140     999284
Drama         19244810  20235923  20765821  19268874   23013522   31011063
Family        59748319  27701556  67855307  63124970   73345615   78956661
Fantasy       35059493  29225342  63740758  78590495   86657065   43531526
History        4407416  42987724  21605052  12456196    3368174   14169406
Horror        16767126  15799800  41391617  31415766   27316945   15233326
Musical        6414560     44757   2220891  10184046   39440655     137945
Mystery       18634396  30257992  21786399  37251990   27171755   37588657
Romance       28721187  22210379  20701341  27619050   26097296   23521490
Sci-Fi        28788604  33584939  57764252  62415939   76455746  123323056
Sport         61810366  17725500  32409496  29150311   19489120   37185254
Thriller      28865259  28631659  33944486  33521425   28167730   38809548
War           12510807   2500677  34730735  18572493   27176408   29575419
Western      114176129   2672015   7771867  45356386   86004473   22522284